body {
 
    font-family: Calibri;
    font-size: large;
    color: black;
    margin: 50px;
    padding:100px;
    border:10px double black;
    opacity:.9;
    background-color:white;
}
html {
      background-image:url("background.jpg");
 
}
H1 {
    text-align: center;
    color:#333333;
    font-family: 'Century Gothic', Charcoal, sans-serif;
    font-size:60px;
}
div {
   background-color:white;
float:none;

}


#submit {
    font-family: Cambria;
    font-size: medium;
    background-color: ButtonHighlight;
}

.cssgridview {
    width: auto;
    margin: 5px 0 10px;
    border: solid 2px black;
    border-collapse: collapse;
    text-align: center;
}

    .cssgridview td {
        padding: 10px; 
        border:solid 1px;
        color:black;
    }

    .cssgridview th {
        padding: 10px;
        color: black;
        font-family:Cambria;
       background-color:floralwhite;
    }

    .cssgridview .alt {
    background-color: tomato;
}
